<ion-toolbar color="danger">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="search-chef" color="light"></ion-back-button>
  </ion-buttons>
  <ion-title>{{title}}</ion-title>

  <ion-icon slot="end" name="notifications"></ion-icon>
  <ion-badge id="notification-badge-msg" color="danger">2</ion-badge>
  <ion-icon slot="end" name="cart"></ion-icon>
  <ion-badge id="cart-badge-msg" color="danger">2</ion-badge>

  <img slot="end" src="./../../assets/pexels-pixabay-35666.webp" alt="">
</ion-toolbar>