<ion-header [translucent]="true">
  <app-header title="Profile"></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="top">
    <div class="image">
      <img src="./../../assets/pexels-pixabay-35666.webp" alt="">
    </div>
    <div class="desc">
      <h3>Ravi Patel</h3>
      <p>ravip362001@gmail.com</p>
    </div>
    <div class="edit">
      <ion-button color="danger">
        Edit
      </ion-button>
    </div>
  </div>

  <div class="upperBox">
    <ion-list>
      <ion-item>
        <img src="./../../assets/profile/order.webp">
        <ion-label>My Orders</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="./../../assets/profile/favourite.webp">
        <ion-label>My Favourite</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="./../../assets/profile/card.webp">
        <ion-label>Payment Method</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="./../../assets/profile/address.webp">
        <ion-label>My Address</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="./../../assets/profile/money.webp">
        <ion-label>Payment History</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="./../../assets/profile/preference.webp">
        <ion-label>Preferences</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="./../../assets/profile/gift.webp">
        <ion-label>Rewards</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="./../../assets/profile/key.webp">
        <ion-label>Change Password</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <div class="upperBox">
    <ion-list>
      <ion-item>
        <img src="./../../assets/profile/faq.webp">
        <ion-label>FAQ's & Help</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      
      <ion-item>
        <img src="./../../assets/profile/t&c.webp">
        <ion-label>Privacy & Policy</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="./../../assets/profile/friends.webp">
        <ion-label>Invite Friends</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
